* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Veranda", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.header {
  border: 1px solid red;
}

.logo {
  display: flex;
  align-items: center;
  border: 1px solid purple;
}

.logo span {
  color: MediumAquamarine;
  margin-left: 15px;
  border: 1px solid blue;

}

.navigation {
  border: 1px solid gray;
}

.navigation a:hover,
.navigation a:visited,
.navigation a:link {
  display: inline-block;
  padding: 5px;
  color: black;
  margin-right: 20px;
  margin-top: 23px;
  margin-bottom: 23px;
  border: 1px solid aqua;
}

.main-content {
  position: relative;
  top: 110px;
  display: flex;

  overflow: scroll;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  border: 2px solid black;
}

.column.large {
  width: 630px;
}  /*Column width */

.column.medium {
  width: 300px;
  justify-content: flex-start;
  align-items: center;
}

.column.small {
  width: 240px;
  justify-content: flex-start;
  align-items: center;
}

.story {
  margin-top: 20px;
}

.story p {
  margin-top: 15px;
}

.main-story {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;

  border: 1px solid blue;
}



.column.large .other-stories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 600px;
}

.column.large .other-stories .story {
  width: 48%;
}

.headline {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story-image .headline{
font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story-image {
  display: flex;


  justify-content: center;
  align-items: flex-start;
}

.story-image.lead-story {
  justify-content: flex-start;
  align-items: flex-start;
}

.news-bites-sidebar .title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
}

.news-bites-sidebar ul {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.news-bites-sidebar li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid black;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  z-index: 10;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  border-bottom: 1px solid purple;
}

.footer-logo{
  margin-right: 15px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid red;
}
